
<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./head'); %> 
</head>
<body class="container">

<header>
    <%- include('./header'); %>
</header>

<main>
    <h2>Anuncios</h2>
    <form >
        <div class="element-form">
            <label for="idArticulo">Artículo</label>
            <input type="text" id="idArticulo" name="articulo" placeholder="Busque por artículo">
        </div>
        <div class="element-form">
            <input type="submit" value="Buscar">
        </div>
      </form>
    <hr>
    <div class="flex-container">
        <% anuncios.forEach(anuncio => { %>
            <div class="flex-element">
                <p class="title"><%= anuncio.articulo %></p>
                <img class="imagen" src="images/<%=anuncio.imagen%>">
                <% if (anuncio.venta) { %>
                    <p class="price " venta="<%= anuncio.venta %>"> Se vende <%= anuncio.precio %> €</p>
                <% } else { %>
                    <p class="price " venta="<%= anuncio.venta %>"> Se compra <%= anuncio.precio %> €</p>
                 <% } %>
                <p> Tags <%= anuncio.tags%></p>
            </div>
        <% }) %>
    </div>
  
</main>

<footer>
    <%- include('./footer'); %>
</footer>

</body>
</html>